body {
  margin: 0px;
}
.button {
  align-items: center;
  border: 5px solid var(--prairie-sand);
  background-color: var(--white);
  border-radius: 30px;
}
button:hover {
  /* マウスオーバー時に背景色をグレーに変更 */
  background-color: var(--gray);
}
.contact-us {
  color: var(--prairie-sand);
  font-family: var(--font-family-futura-bold);
  font-size: var(--font-size-xxl2);
  font-weight: 700;
  min-width: 248px;
  text-align: center;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
header {
  background-image: url(./accets/img/header.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  height: 150px;
  width: 100%;
}
footer {
  background-image: url(./accets/img/footer.svg);
  background-size: 100% 100%;
  display: flex;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}
.message {
  color: var(--black-3);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  text-align: center;
}
.reason {
  color: var(--black-3);
  font-family: var(--font-family-futura-condensedmedium);
  font-size: var(--font-size-xxl2);
  font-weight: 500;
  text-align: center;
}
.status {
  color: var(--black-3);
  font-family: var(--font-family-futura-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  text-align: center;
}

:root {
  --black-2: rgba(0, 0, 0, 0.502);
  --black: rgba(0, 0, 0, 0.541);
  --black-5: rgba(0, 0, 0, 0.6);
  --black-4: rgba(0, 0, 0, 0.902);
  --black-3: rgba(0, 0, 0, 1);
  --shark: rgba(33, 37, 41, 1);
  --bright-gray: rgba(44, 62, 80, 1);
  --tuna: rgba(52, 58, 64, 1);
  --granite-gray: rgba(102, 102, 102, 1);
  --prairie-sand: rgba(155, 44, 33, 1);
  --black-haze: rgba(246, 246, 246, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: #e5e5e5;

  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-s: 15px;
  --font-size-m: 16px;
  --font-size-l: 26px;
  --font-size-xl: 35px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 122px;

  --font-family-futura-bold: "Futura-Bold";
  --font-family-futura-condensedmedium: "Futura-CondensedMedium";
  --font-family-futura-medium: "Futura-Medium";
  --font-family-georgia-bold: "Georgia-Bold";
  --font-family-georgia-regular: "Georgia-Regular";
  --font-family-helvetica-bold: "Helvetica-Bold";
  --font-family-lora: "Lora";
  --font-family-roboto-bold: "Roboto-Bold";
  --font-family-roboto-regular: "Roboto-Regular";
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Futura-CondensedMedium";
  font-style: normal;
  font-weight: 500;
  src: url("./accets/fonts/futura.otf") format("truetype");
}

@font-face {
  font-family: "Futura-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./accets/fonts/unicode.futurab.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./accets/fonts/futura.otf") format("opentype");
}
